:root {
    --intro-email-BG:hsl(217, 28%, 15%);
    --main-BG:rgb(24, 31, 42 );
    --footer-BG: hsl(216, 53%, 9%);
    --testimonial-BG:hsl(219, 30%, 18%);
    --color-cyan:hsl(176, 68%, 64%);
    --color-blue: hsl(198, 60%, 50%);
    --color-light-red:hsl(0, 100%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --font-family: font-family: 'Open Sans', sans-serif; 
    --font-family: 'Raleway', sans-serif  ;
}
    /* Typography */
 * , *::before , *::after {
    box-sizing: border-box;
} 

html {
    font-size: 87.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-white);
    line-height: 1.5;
}
 p{
    color: var(--color-white);
 }  



h1 , h2 , h3 {
     color: var(--color-white);
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
}

h1 {
    font-size: 9rem;
}
h2 {
    font-size: 6rem;
}
h3 {
    font-size: 4rem;
}

@media screen and (min-width:1024px) {
    body {
            font-family: 'Open Sans', sans-serif;
          }
       h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 5rem;
    }
    h3 {
        font-size: 4rem;
    }
       
}
/* List */

.list {
    list-style-type: none;
    opacity: 0.8;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 400;
   
}

.list--inline {
    display: inline-flex;
     margin: 0; 
}

.list__item {
    /* padding: 1rem 0 ; */
    margin: 0 1rem;
    width: 100%;
    white-space: nowrap;
    
}

/* NavBar */

.nav {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    background: var(--main-BG);
}

.logo {
    width: 10rem;
    height: 100%;

}

.nav__list{
   align-items: flex-end;
}
a {
    text-decoration: none;
    color: var(--color-white);
}
a > .list__item {
    color: var(--color-white);
    text-decoration: none;
    
}
  /* Button */
  .btn {
      width: 100%;
      display: inline-block;
      font-size: 1.8rem;
      padding: 2rem 3rem;
      border-radius: 50px;
      margin-top: 30px;
      text-align: center;
      white-space: nowrap;
    
    
  }

  .btn--primary {
        background: var(--color-blue);
        color: var(--color-white);
        font-weight: 700;
  }
  
  .btn--primary:hover {
      background: var(--color-cyan);
      transition: background .4s ease-out;
  }

  @media screen and (min-width:768px) {
      .btn {
          font-size: 1.5rem;
      }
  }

  /* Input */
  .input {
        padding: 1.5rem 3.5rem;
        border-radius: 30px;
        outline: 0;
        border: 0;
        width: 100%;
  }

  ::placeholder {
      font-size: 1.5rem;
      font-weight: 400;
      color: #555;
      line-height: 1.5;
      padding: 0 1.5rem;
      

  }

  @media screen and (min-width:768px) {
      ::placeholder {
          font-size: 1.2rem;
      }
  }

  /* Plan */
 
  .plan__image {
      width: 70px;
      height: 70px;
      justify-self: center;
      
  }

  .plan__text {
      text-align: center;
     
  }

 /* Grid */
  .grid {
      display: grid;
      margin: 0;
      padding: 0;
  }
 @media screen and (min-width:768px) {
    .grid-2x2 {
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(2 , 1fr);
        grid-row: 10rem;
        grid-column: 10rem;
        margin: 4rem;
    }
    .grid-1x2 {
        grid-template-columns: repeat(2 , 1fr);
    }
  .grid-1x3 {
      grid-template-columns: repeat(3 , 1fr);
  }
  .grid-1x5 {
      grid-template-columns: repeat(5 , 1fr);
      row-gap: 5rem;
      column-gap: 5rem;
      padding: 0;
      margin: 0;
  }
    .container {
        width: 100%;

    }
    .plan__text {
        margin: 4rem;
    }
     
 }
/* Links */


.link__text {
    color: var(--color-cyan);
    font-size: 1.5rem;
    margin-top: auto;
    border-bottom: 1px solid var(--color-cyan);
    padding-bottom: 5px;
}

.link__text::after {
    content: url(/icon/icon-arrow.svg);
    vertical-align: middle;

}

.link__text:hover::after {
    color: white;
    margin-left: 10px;
    transition: margin .4s ease-in-out;
}


 @media screen and (min-width:768px) {
     .link__text {
         font-size: 1.2rem;
     }
     
 }


 /* Card */

 .card {
     padding: 2rem 3rem;
     margin: 2rem;
     background: var(--testimonial-BG);
 }
 .card__image {
     width: 4rem;
     height: 4rem;
     border-radius: 50%;
     margin: 1.5rem 0;
     margin-right: 1rem;
     vertical-align: middle;
 }
 
 .card__body {
     display: inline-flex;
     justify-content: left;
     align-items: center;
     
 }

 .card__post {
     font-size: 1.2rem;
     padding-bottom: 0;
     margin-bottom: 0;
 }
 .card__name {
    margin-top: 0;
 }
.card__text {
    text-align: left;
}

 @media screen and (min-width:760px){
     .card__post {
         font-size: 1rem;
     }

     .card__image {
         width: 3rem;
         height: 3rem;
         border-radius: 50%;
     }
 }

 /* Callout */

 .callout {
     background: var(--intro-email-BG);
     padding: 2rem;
     width: 100%;
     height: auto;
     
 }
 .callout__heading , .callout__body {
     text-align: center;
     
 }

 .callout  .callout__heading {
     font-size: 2rem;
     margin: 0;
     white-space: nowrap;

 }


 /* Footer  */
 .footer {
     padding: 2rem;
     font-size: 1.2rem;
     background: var(--footer-BG);
 }

 .footer__image {
     width: 10rem;
     height: 10rem;
 }

 .footer__body-location , 
 .footer__body-phone ,
 .footer__body-email {
     text-align: left;
     display: flex;
     justify-content: left;
  
 }
 .footer__body-location::before , 
 .footer__body-phone::before ,
 .footer__body-email::before {
     margin-right: 2rem;
     vertical-align: middle;
     margin-bottom: 4rem;
     padding-left: 1rem;
 }
 .footer__text {
     text-align: left;
     margin: 0;
     padding-bottom: 2px;
      
 }
 .footer__body-location::before {
     content: url(/icon/icon-location.svg);
 }

 .footer__body-phone::before  {
     content: url(/icon/icon-phone.svg);
 }
 .footer__body-email::before {
     content: url(/icon/icon-email.svg);
     
 }
 
   .footer--align{
     text-align: left;
     margin-left: 0;
     padding-left: 1px;
     opacity: 1;
 }

 .icon-container {
        width: 30px;
        height: 30px;
        display: inline-flex;
        background: white;
        border-radius: 50%;
     }
 .footer--content {
     display: grid;
 }

 .footer__icon {
     display: flex;
     justify-content: center;
     align-items:center;
     
 }

 .footer__service .list__item , .footer__contact .list__item{
     margin: 2rem 0;
 }

 
 

 .social--icon {
     margin: 2rem;
     vertical-align: top;
     margin-top: 3rem;
   
 }
 @media screen and (min-width:760px) {
     .footer {
         grid-template-columns: repeat(5 , 50%);
         font-size: 1rem;
        
     }
     .footer--content {
         justify-self: center;
         width: 100%;
         margin: auto;
         align-self: center;
     }
     .footer__body-email , 
     .footer__body-location , 
     .footer__body-phone , 
     .footer__contact , 
     .footer__icon , 
     .footer__service , 
      .mobile
     {
         margin: 0;
         padding: 0;
         justify-self: center;
         
     }

     .footer__body-phone::before  {
          margin-bottom: 1.5rem; 
         vertical-align: middle;
     }

     .footer--align , .footer__service , .list__item{
         margin-top: 0;
         margin-bottom: 0;
     }

     .footer__service .list__item , .footer__contact .list__item{
        margin-top: 0;
        margin-bottom: 2;
    }
    .footer__icon {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
    }
    .social--icon {
        margin-top: 1rem;
        vertical-align: bottom;
    }

    }

    .features {
        background: var(--main-BG);
        background-size: cover;
        max-width: 100%;
        height: 100vh;
    }