:root {
    --intro-email-BG:hsl(217, 28%, 15%);
    --main-BG:rgb(24, 31, 42 );
    --footer-BG: hsl(216, 53%, 9%);
    --testimonial-BG:hsl(219, 30%, 18%);
    --color-cyan:hsl(176, 68%, 64%);
    --color-blue: hsl(198, 60%, 50%);
    --color-light-red:hsl(0, 100%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --font-family: font-family: 'Open Sans', sans-serif; 
    --font-family: 'Raleway', sans-serif  ;
}
    /* Typography */
 * , *::before , *::after {
    box-sizing: border-box;
} 

html {
    font-size: 87.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-BG);
    color: var(--color-white);
    line-height: 1.5;
}
 p{
    color: var(--color-white);
 }  



h1 , h2 , h3 {
     color: var(--color-white);
     font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 9rem;
}
h2 {
    font-size: 6rem;
}
h3 {
    font-size: 4rem;
}

@media screen and (min-width:1024px) {
    body {
            font-family: 'Open Sans', sans-serif;
          }
       h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 5rem;
    }
    h3 {
        font-size: 4rem;
    }
       
}
/* List */

.list {
    list-style-type: none;
    opacity: 0.8;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 400;
   
}

.list--inline {
    display: inline-flex;
     margin: 0; 
}

.list__item {
    padding: 1rem 0 ;
    margin: 0 1rem;
    width: 100%;
    white-space: nowrap;
    
}

/* NavBar */

.nav {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.logo {
    width: 10rem;
    height: 100%;

}

.nav__list{
   align-items: flex-end;
}
a {
    text-decoration: none;
    color: var(--color-white);
}
a > .list__item {
    color: var(--color-white);
    text-decoration: none;
    
}
  /* Button */
  .btn {
      width: 100%;
      display: inline-block;
      font-size: 1.8rem;
      padding: 2rem 3rem;
      border-radius: 50px;
      margin-top: 30px;
      text-align: center;
      white-space: nowrap;
    
    
  }

  .btn--primary {
        background: var(--color-blue);
        color: var(--color-white);
        font-weight: 700;
  }
  
  .btn--primary:hover {
      background: var(--color-cyan);
      transition: background .4s ease-out;
  }

  @media screen and (min-width:768px) {
      .btn {
          font-size: 1.5rem;
      }
  }

  /* Input */
  .input {
        padding: 1.5rem 3.5rem;
        border-radius: 30px;
        outline: 0;
        border: 0;
        width: 100%;
  }

  ::placeholder {
      font-size: 1.5rem;
      font-weight: 400;
      color: #555;
      line-height: 1.5;
      padding: 0 1.5rem;
      

  }

  @media screen and (min-width:768px) {
      ::placeholder {
          font-size: 1.2rem;
      }
  }
   