<section class="callout flex">
  <header class="callout__header">
    <h2 class="callout__heading">Get early access today</h2>
  </header>
  <p class="callout__body">
    It only takes a minute to sign up abd our free starter tier is extremely
    generous . If you haev any questions ,our support team would be happy to
    help
  </p>
  <div class="callout__details flex">
    <input
      type="email"
      class="input"
      placeholder="Please enter valid e-mail address"
    />
    <a href="" class="btn btn--primary">Get Started</a>
  </div>
</section>
