<footer class="footer container">
  <svg class="icon footer__image">
    <use xlink:href="/icon/sprite (3).svg#logo"></use>
  </svg>
  <div class="footer-content grid grid-1x5">
    <div class="footer__body-location">
      <p class="footer__text">Lorem ipsum dolor sit amet consecte</p>
    </div>
    <div class="mobile">
      <div class="footer__body-phone">
        <p class="footer__text">+1-543-123-4567</p>
      </div>
      <div class="footer__body-email">
        <p class="footer__text">example@fylo.com</p>
      </div>
    </div>
    <div class="footer__service">
      <ul class="list footer--align">
        <li class="list__item">About Us</li>
        <li class="list__item">Jobs</li>
        <li class="list__item">Press</li>
        <li class="list__item">Blog</li>
      </ul>
    </div>
    <div class="footer__contact">
      <ul class="list footer--align">
        <li class="list__item">Contact Us</li>
        <li class="list__item">Terms</li>
        <li class="list__item">Privacy</li>
      </ul>
    </div>
    <div class="footer__icon">
      <i class="social--icon fa fa-twitter fa-lg" aria-hidden="true"></i>
      <i class="social--icon fa fa-facebook fa-lg" aria-hidden="true"></i>
      <i class="social--icon fa fa-instagram fa-lg" aria-hidden="true"></i>
    </div>
  </div>
</footer>
