<section class="info grid grid-1x2">
  <img
    class="info__image"
    src="/images/illustration-stay-productive.png"
    alt=""
  />
  <div class="info__content">
    <h2 class="info__heading">Stay productive , wherever you are</h2>
    <p class="info__text">
      Never let location be an issue when accessing your files . Fylo has you
      covered foe all of your file storage needs
    </p>
    <p class="info__text">
      Securely share files and folders with friends family and collegues for
      live collaboration. No email attachemanets reqired
    </p>
    <a href="#" class="link__text">See how Fylo works </a>
  </div>
</section>
