<!-- <div class="plan">
  <svg class="icon plan__image">
    <use xlink:href="/icon/sprite (3).svg#icon-access-anywhere"></use>
  </svg>
  <p class="plan__text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad itaque nisi
    provident doloribus nam pariatur, error facilis sit eveniet consequatur.
  </p>
</div> -->

<div class="plan grid grid-2x2">
  <div class="plan__item">
    <svg class="icon plan__image">
      <use xlink:href="/icon/sprite (3).svg#icon-access-anywhere"></use>
    </svg>
    <p class="plan__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad itaque nisi
      provident doloribus nam pariatur, error facilis sit eveniet consequatur.
    </p>
  </div>
  <div class="plan__item">
    <svg class="icon plan__image">
      <use xlink:href="/icon/sprite (3).svg#icon-security"></use>
    </svg>
    <p class="plan__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad itaque nisi
      provident doloribus nam pariatur, error facilis sit eveniet consequatur.
    </p>
  </div>
  <div class="plan__item">
    <svg class="icon plan__image">
      <use xlink:href="/icon/sprite (3).svg#icon-collaboration"></use>
    </svg>
    <p class="plan__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad itaque nisi
      provident doloribus nam pariatur, error facilis sit eveniet consequatur.
    </p>
  </div>
  <div class="plan__item">
    <svg class="icon plan__image">
      <use xlink:href="/icon/sprite (3).svg#icon-any-file"></use>
    </svg>
    <p class="plan__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad itaque nisi
      provident doloribus nam pariatur, error facilis sit eveniet consequatur.
    </p>
  </div>
</div>
