<section class="testimonial grid grid-1x3">
  <div class="card">
    <div class="card__text">
      Fylo has improved our team productivity by an order of magnitude. since
      making the switch our team has become a well-oiled collaboration machine
    </div>
    <div class="card__body">
      <img class="card__image" src="/images/profile-1.jpg" alt="" />
      <span class="card__account">
        <h3 class="card__post">Satish Patel</h3>
        <p class="card__name">Founder and CEO</p>
      </span>
    </div>
  </div>
  <div class="card">
    <div class="card__text">
      Fylo has improved our team productivity by an order of magnitude. since
      making the switch our team has become a well-oiled collaboration machine
    </div>
    <div class="card__body">
      <img class="card__image" src="/images/profile-2.jpg" alt="" />
      <span class="card__account">
        <h3 class="card__post">Bruce McKenzie</h3>
        <p class="card__name">Founder and CEO</p>
      </span>
    </div>
  </div>
  <div class="card">
    <div class="card__text">
      Fylo has improved our team productivity by an order of magnitude. since
      making the switch our team has become a well-oiled collaboration machine
    </div>
    <div class="card__body">
      <img class="card__image" src="/images/profile-3.jpg" alt="" />
      <span class="card__account">
        <h3 class="card__post">Iva Boyd</h3>
        <p class="card__name">Founder and CEO</p>
      </span>
    </div>
  </div>
</section>
